@charset "UTF-8";
#head {
	   height: 150px;
	   width: 100%;
	   background-color: #66CCCC;
	   text-align: center;
	   position: relative;
	}
	.title {
	   font-family: "宋体";
	   color: #FFFFFF;
	   position: absolute;
	   top: 45%;
	   left: 50%;
	   transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
	   font-size: 6vw;
	   height: 40px;
	   width: 40%;
	}
	.back{
	   top: 33%;
	   left: 4%;
	   width: 6%;
	   height: 38%;
	   position: absolute;
	}
	#return{
		width: 100%;
		height: 100%;
	}
	.part{
		width: 80%;
		margin-left: 10%;
		border:1px solid #66cccc;
		margin-top: 2%;
		box-shadow: 10px 10px 5px #888888;
	}
	#stu-title,#stu-view{
		margin-left:3%;
		margin-right:3%;
		border-bottom:2px solid #ee7700;
		padding-bottom:24px;
		padding-top:20px;
		font-family: "宋体";
		letter-spacing:3px;
		position:relative;
		top:10px;
		color:#4E9ED3;
		font-weight:bold;
	}
	#stu-view{
		font-size: 30px;
	}
	#stu-title{
		font-size: 36px;
	}
	#stu-info{
		color:black;
		font-weight:normal;
	}